













/* general styling */
:root {
    --smaller: .75;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /*align-items: center;*/
    background-color: black;
    /*display: flex;*/
    font-family: Roboto, sans-serif;
}

.container {
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100dvh;
    color: white;
}

h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 4.5rem;
}

.emoji {
    display: none;
    padding: 1rem;
}

.emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
}


.grid{
    display: block grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    grid-gap: 2rem;
    /*max-width: 1200px;*/
    figure {
        margin: 0;
        position: relative;
        /*opacity: .5;*/
        /*transition: opacity .5s;*/
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 3 / 2;
            object-position: top;
        }
        /*&:hover {*/
        /*    opacity: 1;*/
        /*}*/
    }
}
#birthday{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: -1;
}
.text{
    color: white;
    padding: 4rem 2rem;
    /*height: 75dvh;*/
    max-width: 75%;
    margin: 0 auto 2rem auto;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2{
        margin-bottom: 1rem;
        font-size: 2rem;

    }
    p{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 768px){
    .grid{
        grid-template-columns: 1fr;
        max-width: 100%;
    }
    .text{
        max-width: 100%;
    }

}
